
  .app-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    background-color: var(--color-primary);
    padding: 50px 35px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    gap: 20px;
    
  }

  .section-content-subSection{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }
  
  .app-section-content h1 {
    font-size: 2rem;
    color: var(--text-color--primary) ;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-bottom: 1px solid var(--text-color--primary);
  }

  .app-section-content p{
    text-align: justify;
    width: 100%;
  }

  .content-subSection-contentlist{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 20px;
  }
  .content-subSection-contentlist li{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: disc;
    width: 300px;
    height: 50px;
    font-size: 1.1rem;
  }

  .content-subSection-contentYear{
    color: #DDE6ED;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c7cfc;
    width: 120px;
    height: 30px;
    border-radius: 20px 5px 20px 5px;
  }